@font-face {
  font-family: BookInsanity;
  font-weight: bold;
  src: url('fonts/bookinsanity-bold.otf');
}

@font-face {
  font-family: BookInsanity;
  font-weight: bold;
  font-style: italic;
  src: url('fonts/bookinsanity-bold-it.otf');
}

@font-face {
  font-family: BookInsanity;
  font-style: italic;
  src: url('fonts/bookinsanity-it.otf');
}

@font-face {
  font-family: BookInsanity;
  src: url('fonts/bookinsanity.otf');
}

@font-face {
  font-family: MrJeeves;
  src: url('fonts/mr-jeeves-sc.otf');
}

@font-face {
  font-family: ScalySans;
  src: url('fonts/scaly-sans.otf');
}

@font-face {
  font-family: ScalySans;
  font-weight: bold;
  src: url('fonts/scaly-sans-bold.otf');
}

@font-face {
  font-family: ScalySans;
  font-style: italic;
  src: url('fonts/scaly-sans-it.otf');
}

@font-face {
  font-family: ScalySansSC;
  src: url('fonts/scaly-sans-sc.otf');
}

@font-face {
  font-family: ScalySansSC;
  font-weight: bold;
  src: url('fonts/scaly-sans-sc-bold.otf');
}

@font-face {
  font-family: ScalySansSC;
  font-style: italic;
  src: url('fonts/scaly-sans-sc-it.otf');
}

@font-face {
  font-family: Inconsolata;
  src: url('fonts/Inconsolata.otf');
}

@font-face {
  font-family: Solbera;
  src: url('fonts/solbera.otf');
}

@font-face {
  font-family: Ravenna;
  src: url('fonts/ravenna.ttf');
}

@font-face {
  font-family: Belleza;
  src: url('fonts/belleza.ttf');
}

@font-face {
  font-family: PterraDactyl;
  src: url('fonts/pterra-dactyl.ttf');
}

@font-face {
  font-family: UglyQua;
  src: url('fonts/uglyqua.ttf');
}

@font-face {
  font-family: UglyQua;
  font-style: italic;
  src: url('fonts/uglyqua-it.ttf');
}

@font-face {
  font-family: Utopia;
  src: url('fonts/utopia.otf');
}

@font-face {
  font-family: Utopia;
  font-style: italic;
  src: url('fonts/utopia-it.otf');
}

@font-face {
  font-family: Utopia;
  font-weight: bold;
  src: url('fonts/utopia-bold.otf');
}

@font-face {
  font-family: Utopia;
  font-weight: bold;
  font-style: italic;
  src: url('fonts/utopia-bold-it.otf');
}

@font-face {
  font-family: ZatannaMisdirection;
  src: url('fonts/zatanna-misdirection.otf');
}

@font-face {
  font-family: ZatannaMisdirection;
  font-weight: bold;
  src: url('fonts/zatanna-misdirection-bold.otf');
}

@font-face {
  font-family: ZatannaMisdirection;
  font-weight: bold;
  font-style: italic;
  src: url('fonts/zatanna-misdirection-bold-it.otf');
}

@font-face {
  font-family: ZatannaMisdirection;
  font-style: italic;
  src: url('fonts/zatanna-misdirection-it.otf');
}