@font-face {
  font-family: BookInsanity;
  font-weight: bold;
  src: url('fonts/bookinsanity-bold.otf');
}

@font-face {
  font-family: BookInsanity;
  font-weight: bold;
  font-style: italic;
  src: url('fonts/bookinsanity-bold-it.otf');
}

@font-face {
  font-family: BookInsanity;
  font-style: italic;
  src: url('fonts/bookinsanity-it.otf');
}

@font-face {
  font-family: BookInsanity;
  src: url('fonts/bookinsanity.otf');
}

@font-face {
  font-family: MrJeeves;
  src: url('fonts/mr-jeeves-sc.otf');
}

@font-face {
  font-family: ScalySans;
  src: url('fonts/scaly-sans.otf');
}

@font-face {
  font-family: ScalySans;
  font-weight: bold;
  src: url('fonts/scaly-sans-bold.otf');
}

@font-face {
  font-family: ScalySans;
  font-style: italic;
  src: url('fonts/scaly-sans-it.otf');
}

@font-face {
  font-family: ScalySansSC;
  src: url('fonts/scaly-sans-sc.otf');
}

@font-face {
  font-family: ScalySansSC;
  font-weight: bold;
  src: url('fonts/scaly-sans-sc-bold.otf');
}

@font-face {
  font-family: ScalySansSC;
  font-style: italic;
  src: url('fonts/scaly-sans-sc-it.otf');
}

@font-face {
  font-family: Inconsolata;
  src: url('fonts/Inconsolata.otf');
}

@font-face {
  font-family: Solbera;
  src: url('fonts/solbera.otf');
}