html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.three-five.red .phb:before {
  background-image: url("images/35-bg-red.jpg");
  z-index: -10; }
.three-five.blue .phb:before, .three-five.default .phb:before {
  background-image: url("images/35-bg-blue.jpg");
  z-index: -10; }
.three-five.green .phb:before {
  background-image: url("images/35-bg-green.jpg");
  z-index: -10; }
.three-five a {
  color: #9c2b1b; }
.three-five strong {
  font-family: ScalySans;
  font-weight: bold; }
.three-five em {
  font-style: italic; }
.three-five .phb:nth-child(even) {
  padding-left: 1in;
  padding-right: 0.25in; }
  .three-five .phb:nth-child(even) .footnote {
    left: -4em;
    transform: rotate(-90deg); }
  .three-five .phb:nth-child(even) .page-number {
    left: 0.85em; }
  .three-five .phb:nth-child(even):before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1); }
.three-five .phb:nth-child(odd) {
  padding-right: 1in;
  padding-left: 0.25in; }
  .three-five .phb:nth-child(odd) .footnote {
    right: -4em;
    transform: rotate(90deg); }
  .three-five .phb:nth-child(odd) .page-number {
    right: 0.85em; }
  .three-five .phb:nth-child(odd)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat; }
.three-five .block-sidebar {
  box-sizing: content-box;
  font-family: ScalySans;
  border: 1.5em solid transparent;
  border-image: url("images/35-border.png") 100;
  border-left: none;
  border-right: none;
  margin: 0.15in 0;
  padding: 8px 0px; }
  .three-five .block-sidebar h3 {
    margin-left: 0px; }
.three-five .phb {
  position: relative;
  box-sizing: border-box;
  font-family: "UglyQua";
  width: 8.5in;
  height: 11in;
  font-size: 10px;
  padding-top: 0.67in;
  padding-bottom: 0.67in;
  column-count: 2;
  column-fill: auto;
  column-gap: 0.4in;
  line-height: 1.3;
  background-size: contain; }
  .three-five .phb .footnote {
    font-size: 1.25em;
    position: absolute;
    font-family: "Pterra";
    text-align: center;
    width: 12em;
    right: 1em;
    top: 17.5em; }
  .three-five .phb .page-number {
    position: absolute;
    bottom: 3em;
    font-size: 1.75em;
    width: 4em;
    height: 1em;
    text-align: center;
    color: white; }
  .three-five .phb p + p {
    text-indent: 1em; }
  .three-five .phb ul {
    margin-bottom: 0.8em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: disc; }
  .three-five .phb ol {
    margin-bottom: 0.8em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: decimal; }
  .three-five .phb ul ul,
  .three-five .phb ol ol,
  .three-five .phb ul ol,
  .three-five .phb ol ul {
    margin-bottom: 0px;
    margin-left: 1.5em; }
  .three-five .phb li {
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid; }
.three-five h1, .three-five h2, .three-five h3, .three-five h4, .three-five h5 {
  color: #4d7889;
  font-family: "Pterra";
  font-weight: bold;
  text-transform: uppercase; }
.three-five h1 {
  font-size: 2.6em;
  text-align: right; }
.three-five h2 {
  border-bottom: 2px solid #4d7889;
  font-size: 2.3em;
  text-transform: uppercase;
  text-align: right;
  font-size: .22in;
  margin-top: .22in;
  line-height: 0.75;
  margin-bottom: 0.05in;
  margin-left: -0.75rem; }
.three-five h3 {
  font-size: 14px;
  margin-top: .11in;
  font-weight: normal;
  margin-bottom: 0.025in;
  margin-left: -0.75rem; }
.three-five table,
.three-five .block-table,
.three-five .block-table-wide {
  font-family: ScalySans;
  width: 100%;
  margin: 1em 0; }
  .three-five table thead,
  .three-five .block-table thead,
  .three-five .block-table-wide thead {
    font-weight: 800; }
    .three-five table thead th,
    .three-five .block-table thead th,
    .three-five .block-table-wide thead th {
      vertical-align: bottom;
      padding-bottom: 0.3em;
      padding-right: 0.1em;
      padding-left: 0.1em; }
  .three-five table tbody tr:nth-child(odd),
  .three-five .block-table tbody tr:nth-child(odd),
  .three-five .block-table-wide tbody tr:nth-child(odd) {
    background-color: #f5ecd2; }
  .three-five table tbody tr:nth-child(even),
  .three-five .block-table tbody tr:nth-child(even),
  .three-five .block-table-wide tbody tr:nth-child(even) {
    background-color: transparent; }
  .three-five table tbody tr td,
  .three-five .block-table tbody tr td,
  .three-five .block-table-wide tbody tr td {
    padding: 0.1em 0.1em; }

.four a {
  color: #1d354c; }
.four strong {
  font-weight: bold; }
.four em {
  font-style: italic; }
.four .phb:nth-child(odd) {
  padding-left: 0.75in;
  padding-right: 0.5in; }
  .four .phb:nth-child(odd) .footnote {
    text-align: right;
    right: 12em; }
  .four .phb:nth-child(odd) .page-number {
    right: 1.5em; }
  .four .phb:nth-child(odd):after {
    right: 1em;
    transform: scaleX(-1); }
.four .phb:nth-child(even) {
  padding-right: 0.75in;
  padding-left: 0.5in; }
  .four .phb:nth-child(even) .footnote {
    text-align: left;
    left: 12em; }
  .four .phb:nth-child(even) .page-number {
    left: 0.5em; }
  .four .phb:nth-child(even):after {
    left: 0; }
.four .phb {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: Utopia;
  padding: 0.75in 0.85in;
  width: 8.5in;
  height: 11in;
  column-count: 2;
  column-fill: auto;
  column-gap: 0.4in;
  font-size: 10pt;
  line-height: 1.3; }
  .four .phb:after {
    content: ' ';
    position: absolute;
    height: 8em;
    bottom: 0;
    width: 12em;
    background-size: contain;
    background-image: url("images/corner-4e.png");
    background-repeat: no-repeat; }
  .four .phb .page-number {
    z-index: 10;
    position: absolute;
    bottom: 2em;
    color: white;
    text-align: center;
    width: 3em;
    height: 1em; }
  .four .phb .footnote {
    position: absolute;
    bottom: 3em; }
.four h1, .four h2, .four h3, .four h4 {
  font-family: Ravenna;
  font-variant: small-caps;
  color: black; }
.four h1 {
  font-size: 18pt;
  margin-left: -0.85in;
  padding: 10pt 0 9pt 0.6in;
  margin-bottom: 12pt;
  color: white;
  background-image: url("images/border-4e.png");
  column-span: all;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -4em -2px; }
.four h2 {
  font-size: 16pt;
  margin-top: 10pt;
  margin-bottom: 2pt;
  color: #1d354c; }
.four h3 {
  font-size: 14pt;
  margin-top: 8pt;
  margin-bottom: 2pt; }
.four h5 {
  font-weight: bold; }
.four .block-sidebar-wide {
  margin: 1em 0;
  column-span: all;
  border-top: 4px double #dbd9c8;
  padding: 1em;
  background: linear-gradient(#dbd9c8, white);
  color: #1d354c; }
.four .block-sidebar {
  margin: 1em 0;
  background: linear-gradient(to right, #dbd9c8, white);
  padding: 1em;
  font-family: Optima;
  color: #1d354c; }
.four p + p {
  text-indent: 1em; }
.four ol, .four ul {
  list-style-position: outside;
  margin-top: 0.25em;
  margin-left: 1em; }
.four ul {
  list-style-type: square; }
.four .block-table-wide {
  column-span: all; }
.four table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  margin: 1em 0;
  font-size: 10pt;
  font-family: Optima; }
  .four table thead {
    font-weight: bold;
    background-color: #1d354c;
    color: white; }
    .four table thead th {
      vertical-align: bottom;
      padding: 0.2em 0.1em; }
  .four table tbody tr:nth-child(odd) {
    background-color: #cecdb5; }
  .four table tbody tr:nth-child(even) {
    background: linear-gradient(to right, #dfdecf, white); }
  .four table tbody tr {
    border-bottom: 3px solid white; }
    .four table tbody tr td {
      padding: 0.25em 0.25em; }
.four .block-at-will table thead {
  background-color: #5c8d63; }
.four .block-daily table thead {
  background-color: #555; }
.four .block-encounter table thead {
  background-color: #7f1e32; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: BookInsanity;
  font-weight: bold;
  src: url("fonts/bookinsanity-bold.otf"); }
@font-face {
  font-family: BookInsanity;
  font-weight: bold;
  font-style: italic;
  src: url("fonts/bookinsanity-bold-it.otf"); }
@font-face {
  font-family: BookInsanity;
  font-style: italic;
  src: url("fonts/bookinsanity-it.otf"); }
@font-face {
  font-family: BookInsanity;
  src: url("fonts/bookinsanity.otf"); }
@font-face {
  font-family: MrJeeves;
  src: url("fonts/mr-jeeves-sc.otf"); }
@font-face {
  font-family: ScalySans;
  src: url("fonts/scaly-sans.otf"); }
@font-face {
  font-family: ScalySans;
  font-weight: bold;
  src: url("fonts/scaly-sans-bold.otf"); }
@font-face {
  font-family: ScalySans;
  font-style: italic;
  src: url("fonts/scaly-sans-it.otf"); }
@font-face {
  font-family: ScalySansSC;
  src: url("fonts/scaly-sans-sc.otf"); }
@font-face {
  font-family: ScalySansSC;
  font-weight: bold;
  src: url("fonts/scaly-sans-sc-bold.otf"); }
@font-face {
  font-family: ScalySansSC;
  font-style: italic;
  src: url("fonts/scaly-sans-sc-it.otf"); }
@font-face {
  font-family: Inconsolata;
  src: url("fonts/Inconsolata.otf"); }
@font-face {
  font-family: Solbera;
  src: url("fonts/solbera.otf"); }
.five.default .phb {
  background-color: #eee5ce;
  background-image: url("images/5e-bg-std.jpg"); }
  .five.default .phb a {
    color: #9c2b1b; }
  .five.default .phb h1, .five.default .phb h2, .five.default .phb h3, .five.default .phb h4 {
    color: #58180d; }
  .five.default .phb h3 {
    border-bottom: 2px solid #c9ad6a; }
  .five.default .phb tbody tr:nth-child(odd) td {
    background-color: #dae5c1; }
  .five.default .phb .block-note, .five.default .phb .block-descriptive {
    background-color: #dae5c1; }
  .five.default .phb .block-stats, .five.default .phb .block-stats-wide {
    background-color: #fdf1dc; }
  .five.default .phb .page-number, .five.default .phb .footnote {
    color: #c9ad6a; }
  .five.default .phb:after {
    background-image: url("images/5e-border-std.png"); }
.five.red .phb {
  background-color: #e1e1e1;
  background-image: url("images/5e-bg-grey.jpg"); }
  .five.red .phb tbody tr:nth-child(odd) td {
    background-color: #e0d6d6; }
  .five.red .phb .block-note, .five.red .phb .block-descriptive {
    background-color: #e0d6d6; }
  .five.red .phb .page-number, .five.red .phb .footnote {
    color: #b3b3b3; }
  .five.red .phb:after {
    background-image: url("images/5e-border-grey.png"); }
.five.green .phb {
  background-color: #e1e1e1;
  background-image: url("images/5e-bg-grey.jpg"); }
  .five.green .phb tbody tr:nth-child(odd) td {
    background-color: #d6e0d6; }
  .five.green .phb .block-note, .five.green .phb .block-descriptive {
    background-color: #d6e0d6; }
  .five.green .phb .page-number, .five.green .phb .footnote {
    color: #b3b3b3; }
  .five.green .phb:after {
    background-image: url("images/5e-border-grey.png"); }
.five.blue .phb {
  background-color: #e1e1e1;
  background-image: url("images/5e-bg-grey.jpg"); }
  .five.blue .phb tbody tr:nth-child(odd) td {
    background-color: #d6dbe0; }
  .five.blue .phb .block-note, .five.blue .phb .block-descriptive {
    background-color: #d6dbe0; }
  .five.blue .phb .page-number, .five.blue .phb .footnote {
    color: #b3b3b3; }
  .five.blue .phb:after {
    background-image: url("images/5e-border-grey.png"); }

body {
  counter-reset: phb-page-numbers; }

* {
  -webkit-print-color-adjust: exact; }

.five .phb:nth-child(even) {
  padding-left: 0.85in;
  padding-right: 0.65in; }
.five .phb:nth-child(odd) {
  padding-right: 0.85in;
  padding-left: 0.65in; }
.five .phb {
  column-count: 2;
  column-fill: auto;
  column-gap: 0.425in;
  column-width: 8cm;
  counter-increment: phb-page-numbers;
  position: relative;
  z-index: 15;
  box-sizing: border-box;
  overflow: hidden;
  height: 11in;
  width: 8.5in;
  padding-top: 0.65in;
  padding-bottom: 0.65in;
  font-family: BookInsanity;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  page-break-before: always;
  page-break-after: always; }
  .five .phb p {
    padding-bottom: 0.8em;
    line-height: 1.25em; }
    .five .phb p + p {
      margin-top: -0.8em; }
  .five .phb ul {
    margin-bottom: 0.8em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: disc; }
  .five .phb ol {
    margin-bottom: 0.8em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: decimal; }
  .five .phb p + p,
  .five .phb ul + p,
  .five .phb ol + p {
    text-indent: 1em; }
  .five .phb img {
    z-index: -1; }
  .five .phb strong {
    font-weight: bold;
    letter-spacing: 0.03em; }
  .five .phb em {
    font-style: italic; }
  .five .phb sup {
    vertical-align: super;
    font-size: smaller;
    line-height: 0; }
  .five .phb sub {
    vertical-align: sub;
    font-size: smaller;
    line-height: 0; }
  .five .phb h1,
  .five .phb h2,
  .five .phb h3,
  .five .phb h4 {
    margin-top: 0.2em;
    margin-bottom: 0.25em;
    font-family: MrJeeves;
    font-weight: 800; }
  .five .phb h1 {
    column-span: all;
    font-size: 0.987cm;
    -webkit-column-span: all;
    -moz-column-span: all; }
    .five .phb h1 + p {
      overflow: initial;
      margin-top: 0.15em; }
    .five .phb h1 + p::first-letter {
      float: left;
      font-family: Solbera;
      font-size: 10em;
      color: #222;
      line-height: 0.8em;
      letter-spacing: 0.075em; }
  .five .phb h2 {
    font-size: 0.705cm; }
  .five .phb h3 {
    font-size: 0.529cm; }
  .five .phb h4 {
    margin-bottom: 0em;
    font-size: 0.458cm; }
  .five .phb h5 {
    margin-top: 0.2em;
    font-family: ScalySansSC;
    font-size: 0.423cm;
    font-weight: 900; }
  .five .phb .block-table-wide {
    column-span: all; }
  .five .phb table,
  .five .phb .block-table,
  .five .phb .block-table-wide {
    font-family: ScalySans;
    width: 100%;
    margin-bottom: 1em;
    font-size: 10pt; }
    .five .phb table em,
    .five .phb .block-table em,
    .five .phb .block-table-wide em {
      font-family: ScalySans;
      font-style: italic; }
    .five .phb table strong,
    .five .phb .block-table strong,
    .five .phb .block-table-wide strong {
      font-family: ScalySans;
      font-weight: 800;
      letter-spacing: -0.02em; }
    .five .phb table thead,
    .five .phb .block-table thead,
    .five .phb .block-table-wide thead {
      font-weight: 800; }
      .five .phb table thead th,
      .five .phb .block-table thead th,
      .five .phb .block-table-wide thead th {
        vertical-align: bottom;
        padding-bottom: 0.3em;
        padding-right: 0.1em;
        padding-left: 0.1em; }
    .five .phb table tbody tr td,
    .five .phb .block-table tbody tr td,
    .five .phb .block-table-wide tbody tr td {
      padding: 0.3em 0.1em; }
  .five .phb .block-note {
    font-family: ScalySans;
    box-sizing: border-box;
    margin: 1em 0 2em 0;
    border-style: solid;
    border-width: 11px;
    border-image: url("images/5e-block-note.png") 11;
    box-shadow: 1px 4px 14px #888;
    border-image-outset: 9px 0px; }
    .five .phb .block-note em {
      font-family: ScalySans;
      font-style: italic; }
    .five .phb .block-note strong {
      font-family: ScalySans;
      font-weight: 800;
      letter-spacing: -0.02em; }
    .five .phb .block-note p, .five .phb .block-note ul {
      font-size: 0.352cm;
      line-height: 1.1em; }
    .five .phb .block-note p:last-child {
      padding-bottom: 0; }
  .five .phb pre + blockquote,
  .five .phb h2 + blockquote,
  .five .phb h3 + blockquote,
  .five .phb h4 + blockquote,
  .five .phb h5 + blockquote {
    margin-top: 13px; }
  .five .phb .block-stats-wide {
    column-span: all;
    column-count: 2;
    column-fill: auto;
    column-gap: 1cm;
    column-width: 7.68cm; }
  .five .phb .block-stats, .five .phb .block-stats-wide {
    position: relative;
    border-style: solid;
    border-image: url("images/5e-block-monster.png") 10;
    border-width: 10px; }
    .five .phb .block-stats h2, .five .phb .block-stats-wide h2 {
      margin-bottom: 0px; }
      .five .phb .block-stats h2 + p, .five .phb .block-stats-wide h2 + p {
        padding-bottom: 0px; }
    .five .phb .block-stats h3, .five .phb .block-stats-wide h3 {
      font-family: ScalySans;
      font-weight: 400; }
    .five .phb .block-stats ul, .five .phb .block-stats-wide ul {
      font-family: ScalySans;
      padding-left: 1em;
      font-size: 0.352cm; }
      .five .phb .block-stats ul em, .five .phb .block-stats-wide ul em {
        font-family: ScalySans;
        font-style: italic; }
      .five .phb .block-stats ul strong, .five .phb .block-stats-wide ul strong {
        font-family: ScalySans;
        font-weight: 800;
        letter-spacing: -0.02em; }
    .five .phb .block-stats hr + table, .five .phb .block-stats-wide hr + table {
      margin: 0;
      column-span: 1;
      background-color: transparent;
      border-style: none;
      border-image: none;
      -webkit-column-span: 1; }
      .five .phb .block-stats hr + table tbody tr:nth-child(odd),
      .five .phb .block-stats hr + table tbody tr:nth-child(even), .five .phb .block-stats-wide hr + table tbody tr:nth-child(odd),
      .five .phb .block-stats-wide hr + table tbody tr:nth-child(even) {
        background-color: transparent; }
    .five .phb .block-stats p + p, .five .phb .block-stats-wide p + p {
      margin-top: 0em;
      padding-bottom: 0.5em;
      text-indent: 0em; }
    .five .phb .block-stats hr, .five .phb .block-stats-wide hr {
      visibility: visible;
      height: 6px;
      margin: 4px 0px;
      background-image: url("images/5e-hr.png");
      background-size: 100% 100%;
      border: none; }
  .five .phb:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    height: 50px;
    width: 100%;
    background-size: cover; }
  .five .phb:nth-child(even):after {
    transform: scaleX(-1); }
  .five .phb:nth-child(even) .page-number {
    left: 2px; }
  .five .phb:nth-child(even) .footnote {
    left: 80px;
    text-align: left; }
  .five .phb .page-number {
    position: absolute;
    right: 2px;
    bottom: 22px;
    width: 50px;
    font-size: 0.9em;
    text-align: center; }
    .five .phb .page-number.auto::after {
      content: counter(phb-page-numbers); }
  .five .phb .footnote {
    position: absolute;
    right: 80px;
    bottom: 32px;
    z-index: 150;
    width: 200px;
    font-size: 0.8em;
    text-align: right; }
  .five .phb hr + ul {
    margin-bottom: 0.5em;
    padding-left: 1em;
    text-indent: -1em;
    list-style-type: none; }
  .five .phb p,
  .five .phb blockquote,
  .five .phb table {
    z-index: 15;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    overflow: hidden;
    /* Firefox fix */ }
  .five .phb h4 + p + hr + ul {
    margin-top: -0.5em; }
  .five .phb table + p {
    text-indent: 1em; }
  .five .phb ul ul,
  .five .phb ol ol,
  .five .phb ul ol,
  .five .phb ol ul {
    margin-bottom: 0px;
    margin-left: 1.5em; }
  .five .phb li {
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid; }
.five .phb .block-spells {
  font-family: ScalySans;
  column-count: 4;
  column-span: all;
  -webkit-column-span: all;
  -moz-column-span: all; }
  .five .phb .block-spells em {
    font-family: ScalySans;
    font-style: italic; }
  .five .phb .block-spells strong {
    font-family: ScalySans;
    font-weight: 800;
    letter-spacing: -0.02em; }
  .five .phb .block-spells ul + h5 {
    margin-top: 15px; }
  .five .phb .block-spells p,
  .five .phb .block-spells ul {
    font-size: 0.352cm;
    line-height: 1.3em; }
  .five .phb .block-spells ul {
    margin-bottom: 0.5em;
    padding-left: 1em;
    text-indent: -1em;
    list-style-type: none;
    -webkit-column-break-inside: auto;
    column-break-inside: auto; }
.five .phb .block-class-wide {
  column-span: all; }
.five .phb .block-class,
.five .phb .block-class-wide {
  break-before: avoid-column;
  -webkit-column-break-inside: avoid;
  margin-top: 25px;
  margin-bottom: 40px;
  border-collapse: separate;
  background-color: white;
  border: initial;
  border-style: solid;
  border-image-source: url("images/5e-block-class.png");
  border-image-outset: 25px 17px;
  border-image-repeat: round;
  border-image-slice: 150 200 150 200;
  border-image-width: 47px; }
  .five .phb .block-class h5,
  .five .phb .block-class-wide h5 {
    margin-bottom: 10px; }
.five .phb .block-descriptive {
  display: block-inline;
  margin-bottom: 1em;
  font-family: ScalySans;
  border-style: solid;
  border-width: 7px;
  border-image: url("images/5e-block-descriptive.png") 12 round;
  border-image-outset: 4px; }
  .five .phb .block-descriptive p {
    display: block;
    padding-bottom: 0px;
    line-height: 1.5em; }
  .five .phb .block-descriptive p + p {
    padding-top: 0.8em; }
  .five .phb .block-descriptive em {
    font-family: ScalySans;
    font-style: italic; }
  .five .phb .block-descriptive strong {
    font-family: ScalySans;
    font-weight: 800;
    letter-spacing: -0.02em; }
.five .phb pre + .block-descriptive {
  margin-top: 8px; }
.five .phb .block-toc {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid; }
  .five .phb .block-toc a {
    color: black;
    text-decoration: none; }
    .five .phb .block-toc a:hover {
      text-decoration: underline; }
  .five .phb .block-toc ul {
    padding-left: 0;
    list-style-type: none; }
  .five .phb .block-toc > ul > li {
    margin-bottom: 10px; }

.col-break {
  visibility: hidden;
  -webkit-column-break-after: always;
  break-after: always;
  -moz-column-break-after: always; }

code {
  font-variant: small-caps; }

@media screen {
  .preview {
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0; }

  body {
    overflow: hidden; } }
@media print {
  .phb .descriptive,
  .phb blockquote {
    box-shadow: none; }

  .editor {
    display: none; } }
#react-root {
  margin-top: -2rem; }

#grab-bar {
  height: 2rem;
  -webkit-app-region: drag; }

.flex {
  display: flex; }

.editor {
  flex: 3 0 auto;
  padding-top: 1.5em;
  background-color: #1e1e1e; }

.preview {
  overflow-x: hidden;
  flex: 0 1 8.5in; }

.preview img {
  max-width: 100%; }

/*# sourceMappingURL=app.css.map */
