// Players Handbook
$phb: (
  bg: #eee5ce,
  note: #dae5c1,
  footnote: #c9ad6a,
  hborder: #c9ad6a,
  htext: #58180d,
  hr: #9c2b1b,
  stats: #fdf1dc,
);

// Dungeon Master's Guide, Pt.4
$grey: (
  bg: #e1e1e1,
  note: #cfd6d6,
  footnote: #b3b3b3
);

$red: (
  note: #e0d6d6
);

$blue: (
  note: #d6dbe0
);

$green: (
  note: #d6e0d6
);

$other: (
  // Dungeon Master's Guide, Pt. 1
  pink: #e0d6e0,
  // Dungeon Master's Guide, Pt. 2
  orange: #e5cbc0,
  // Dungeon Master's Guide, Pt. 3
  teal: #ccdddd,
);

.five {
  &.default .phb {
    background-color: map_get($phb, bg);
    background-image: url('images/5e-bg-std.jpg');

    a {
      color: map_get($phb, hr);
    }

    h1, h2, h3, h4 {
      color: map_get($phb, htext);
    }

    h3 {
      border-bottom: 2px solid map_get($phb, hborder);
    }

    tbody tr:nth-child(odd) td {
      background-color: map_get($phb, note);
    }
    .block-note, .block-descriptive {
      background-color: map_get($phb, note);
    }
    .block-stats, .block-stats-wide {
      background-color: map_get($phb, stats);
    }
    .page-number, .footnote {
      color: map_get($phb, footnote);
    }
    &:after {
      background-image: url('images/5e-border-std.png');
    }
  }

  &.red .phb {
    background-color: map_get($grey, bg);
    background-image: url('images/5e-bg-grey.jpg');
    tbody tr:nth-child(odd) td {
      background-color: map_get($red, note);
    }
    .block-note, .block-descriptive {
      background-color: map_get($red, note);
    }
    .page-number, .footnote {
      color: map_get($grey, footnote);
    }
    &:after {
      background-image: url('images/5e-border-grey.png');
    }
  }

  &.green .phb {
    background-color: map_get($grey, bg);
    background-image: url('images/5e-bg-grey.jpg');
    tbody tr:nth-child(odd) td {
      background-color: map_get($green, note);
    }
    .block-note, .block-descriptive {
      background-color: map_get($green, note);
    }
    .page-number, .footnote {
      color: map_get($grey, footnote);
    }
    &:after {
      background-image: url('images/5e-border-grey.png');
    }
  }

  &.blue .phb {
    background-color: map_get($grey, bg);
    background-image: url('images/5e-bg-grey.jpg');
    tbody tr:nth-child(odd) td {
      background-color: map_get($blue, note);
    }
    .block-note, .block-descriptive {
      background-color: map_get($blue, note);
    }
    .page-number, .footnote {
      color: map_get($grey, footnote);
    }
    &:after {
      background-image: url('images/5e-border-grey.png');
    }
  }

}