/** STYLES **/

pre, code {
  font-family: var(--font-mono);
}

pre {
  border-radius: 3px;
  background-color: var(--grey-light);
  padding: 0.5rem;
}

:not(pre) > code {
  position: relative;
  top: -1px;
  border-radius: 2px;
  background-color: var(--grey-light);
  padding: 0.25rem;
  color: #e83e8c;
  font-size: 87.5%;
}

blockquote {
  border-left: 0.5rem solid var(--grey-light);
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.mw-page {
  border-radius: 3px;
  border: 1px solid #efefef;
  margin: 1rem;
  background-color: white;
}