$color-blue: rgb(29,53,76);
$color-red: rgb(76, 29, 29);
$color-green: rgb(29,76,53);

$color-body: black;
$font-header: Ravenna;
$font-serif: Utopia;
$font-sans: Optima, Belleza;

.four {

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }


  .phb:nth-child(odd) {
    padding-left: 0.75in;
    padding-right: 0.5in;

    .footnote {
      text-align: right;
      right: 12em;
    }
    .page-number {
      right: 1.5em;
    }

    &:after {
      right: 1em;
      transform: scaleX(-1);
    }
  }

  .phb:nth-child(even) {
    padding-right: 0.75in;
    padding-left: 0.5in;

    .footnote {
      text-align: left;
      left: 12em;
    }
    .page-number {
      left: 0.5em;
    }
    &:after {
      left: 0;
    }
  }

  &.blue .phb,
  &.default .phb {
    &:after {
      background-image: url('images/4e-corner-blue.png');
    }
    a, h2, .block-sidebar, .block-sidebar-wide {
      color: $color-blue;
    }
    table thead {
      background-color: $color-blue;
    }
  }
  &.red .phb {
    &:after {
      background-image: url('images/4e-corner-red.png');
    }
    a, h2, .block-sidebar, .block-sidebar-wide {
      color: $color-red;
    }
    table thead {
      background-color: $color-red;
    }
  }
  &.green .phb {
    &:after {
      background-image: url('images/4e-corner-green.png');
    }
    a, h2, .block-sidebar, .block-sidebar-wide {
      color: $color-green;
    }
    table thead {
      background-color: $color-green;
    }
  }

  &.blue .phb h1,
  &.default .phb h1 {
    background-image: url('images/4e-banner-blue.png');
  }
  &.red .phb h1 {
    background-image: url('images/4e-banner-red.png');
  }
  &.green .phb h1 {
    background-image: url('images/4e-banner-green.png');
  }

  .phb {
    position: relative;
    box-sizing: border-box;
    color: $color-body;
    font-family: $font-serif;
    padding: 0.75in 0.85in;
    width: 8.5in;
    height: 11in;
    column-count: 2;
    column-fill: auto;
    column-gap: 0.4in;
    font-size: 10pt;
    line-height: 1.3;

    &:after {
      content: ' ';
      position: absolute;
      height: 8em;
      bottom: 0;
      width: 12em;
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    .page-number {
      z-index: 10;
      position: absolute;
      bottom: 2em;
      color: white;
      text-align: center;
      width: 3em;
      height: 1em;
    }

    .footnote {
      position: absolute;
      bottom: 3em;
    }
  }
    
  h1, h2, h3, h4 {
    font-family: $font-header;
    font-variant: small-caps;
    color: black;
  }

  h1 {
    font-size: 18pt;
    margin-left: -0.85in;
    padding: 10pt 0 9pt 0.6in;
    margin-bottom: 12pt;
    color: white;
    column-span: all;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -4em -2px;
  }

  h2 {
    font-size: 16pt;
    margin-top: 10pt;
    margin-bottom: 2pt;
  }

  h3 {
    font-size: 14pt;
    margin-top: 8pt;
    margin-bottom: 2pt;
  }

  h5 {
    font-weight: bold;
  }

  .block-sidebar-wide {
    margin: 1em 0;
    column-span: all;
    border-top: 4px double rgb(219,217,200);
    padding: 1em;
    background: linear-gradient(rgb(219,217,200), white);
  }

  .block-sidebar {
    margin: 1em 0;
    background: linear-gradient(to right, rgb(219,217,200), white);
    padding: 1em;
    font-family: $font-sans;
  }

  p + p {
    text-indent: 1em;
  }

  ol, ul {
    list-style-position: outside;
    margin-top: 0.25em;
    margin-left: 1em;
  }

  ul {
    list-style-type: square;
  }

  .block-table-wide {
    column-span: all;
  }

  table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    margin: 1em 0;
    font-size: 10pt;
    font-family: $font-sans;
    thead {
      font-weight: bold;
      color: white;
      th {
        vertical-align: bottom;
        padding: 0.2em 0.1em;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: rgb(206, 205, 181);
      }
      tr:nth-child(even) {
        background: linear-gradient(to right, rgb(223, 222, 207), white);
      }
      tr {
        border-bottom: 3px solid white;
        td {
          padding: 0.25em 0.25em;
        }
      }
    }
  }

  .block-at-will table thead {
    background-color: rgb(92, 141, 99);
  }

  .block-daily table thead {
    background-color: #555;
  }
  
  .block-encounter table thead {
    background-color: rgb(127, 30, 50);
  }
}